<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .button1 {
            background-color: blue;
            color: white;
            border-radius: 10px;
            border: 2px solid lightskyblue;
            padding: 4px;
        }
        .button2 {
            background-color: orangered;
            color: white;
            border-radius: 10px;
            border: 2px solid lightcoral;
            padding: 4px;
        }

    </style>
    <title>Counter</title>
</head>
<body>
    <h1>Counter</h1>
        <h2>5</h2>

<button class="button1">Click</button>   <button class="button2">Reset</button>

</body>
</html>